@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
}

html {
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.main-header {
  padding-block: 1rem;
  position: relative;
  z-index: 500;
  background-color: white;
}
.main-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-inline: 1rem;
  max-width: 69.625rem;
  margin-inline: auto;
}
.main-header__list {
  width: 85vw;
  padding-block: 0.5rem;
  position: absolute;
  left: 50%;
  top: 8rem;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out all;
}
.main-header__list.active {
  opacity: 1;
  visibility: visible;
}
.main-header__list a {
  display: block;
  margin-block: 1rem;
}
.main-header__cta {
  display: none;
}
.main-header__ham {
  width: 2rem;
  aspect-ratio: 1;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-header__ham.active {
  background-image: url("../images/icon-close.svg");
  background-size: 75%;
}
@media screen and (min-width: 50em) {
  .main-header__list {
    all: unset;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }
  .main-header__list a {
    color: hsl(233deg, 8%, 62%);
  }
  .main-header__ham {
    display: none;
  }
  .main-header__cta {
    display: block;
    padding-inline: 1.45rem;
    padding-block: 0.75rem;
    color: white;
    background-image: linear-gradient(to left, hsl(192deg, 70%, 51%), hsl(136deg, 65%, 51%));
    border-radius: 999rem;
    transition: 0.2s ease-in-out opacity;
  }
  .main-header__cta:hover {
    opacity: 0.7;
  }
}

.intro__bg-container {
  width: 100%;
  min-height: 17.5rem;
  position: relative;
  z-index: -1;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
.intro__bg-container img {
  max-width: 30rem;
  display: block;
  margin-inline: auto;
  transform: translateY(-19%);
}
.intro__info {
  padding-inline: 1rem;
  text-align: center;
}
.intro__info > * {
  margin-bottom: 2rem;
}
.intro__info h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
}
.intro__info p {
  color: hsl(233deg, 8%, 62%);
}
.intro__cta {
  display: block;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 1.45rem;
  padding-block: 0.75rem;
  color: white;
  background-image: linear-gradient(to left, hsl(192deg, 70%, 51%), hsl(136deg, 65%, 51%));
  border-radius: 999rem;
  transition: 0.2s ease-in-out opacity;
}
.intro__cta:hover {
  opacity: 0.7;
}
@media screen and (min-width: 50em) {
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
    max-width: 69.625rem;
    margin-inline: auto;
  }
  .intro__bg-container {
    min-width: 25rem;
    transform: translateX(15%);
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: 5% bottom;
    background-size: 250%;
  }
  .intro__bg-container img {
    max-width: 55rem;
    transform: translate(12%, -15%);
  }
  .intro__info {
    margin-top: 7rem;
    max-width: 30rem;
    text-align: left;
  }
  .intro__info h1 {
    font-size: 3rem;
  }
  .intro__info p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .intro__cta {
    margin-inline: unset;
  }
}

/*# sourceMappingURL=main.css.map */
