@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
}

html {
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  max-width: 69.635rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

.cta-btn {
  transition: 0.2s ease-in-out opacity;
  padding-inline: 2rem;
  padding-block: 0.75rem;
  color: white;
  background-image: linear-gradient(to right, hsl(192deg, 70%, 51%), hsl(136deg, 65%, 51%));
  border-radius: 999rem;
}
.cta-btn:hover, .cta-btn:focus {
  opacity: 0.7;
}

.main-header {
  width: 100vw;
  padding-block: 1rem;
  position: relative;
  z-index: 500;
  background-color: white;
}
.main-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main-header__logo {
  transition: 0.2s ease-in-out opacity;
  transform: translateY(0.23rem);
}
.main-header__logo:hover, .main-header__logo:focus {
  opacity: 0.7;
}
.main-header__list {
  width: 85vw;
  max-width: 25rem;
  padding-block: 1.5rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  text-align: center;
  box-shadow: 0 0 0 100vmax rgba(25, 25, 25, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out all;
}
.main-header__list > *:not(:last-child) {
  margin-bottom: 1rem;
}
.main-header__list.active {
  opacity: 1;
  visibility: visible;
}
.main-header__cta {
  display: none;
}
.main-header__ham {
  width: 2rem;
  aspect-ratio: 1;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-header__ham.active {
  background-image: url("../images/icon-close.svg");
  background-size: 75%;
}
@media screen and (min-width: 55em) {
  .main-header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: unset;
    max-width: unset;
    padding: unset;
    position: unset;
    transform: unset;
    box-shadow: unset;
    opacity: unset;
    visibility: unset;
  }
  .main-header__list > *:not(:last-child) {
    margin-bottom: 0;
  }
  .main-header__list > * {
    margin-inline: 1rem;
  }
  .main-header__list li {
    position: relative;
  }
  .main-header__list a {
    color: hsl(233deg, 8%, 62%);
    transition: 0.2s ease-in-out color;
  }
  .main-header__list a:after {
    content: "";
    width: 2.5rem;
    height: 0.15rem;
    position: absolute;
    left: 50%;
    top: 2.75rem;
    transform: translateX(-50%);
    background-image: linear-gradient(to left, hsl(192deg, 70%, 51%), hsl(136deg, 65%, 51%));
    opacity: 0;
    transition: 0.2s ease-in-out opacity;
  }
  .main-header__list a:hover, .main-header__list a:focus {
    color: hsl(233deg, 26%, 24%);
  }
  .main-header__list a:hover:after, .main-header__list a:focus:after {
    opacity: 1;
  }
  .main-header__cta {
    display: block;
  }
  .main-header__ham {
    display: none;
  }
}

.intro {
  padding-bottom: 5.5rem;
}
.intro__bg-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right top;
}
.intro__bg-container img {
  display: block;
  max-width: 25rem;
  margin-inline: auto;
  transform: translateY(-3.5rem);
}
.intro__info {
  margin-top: 22rem;
  text-align: center;
}
.intro__info > *:not(:last-child) {
  margin-bottom: 1rem;
}
.intro__info .header {
  font-size: 2.5rem;
  color: hsl(233deg, 26%, 24%);
}
@media screen and (min-width: 55em) {
  .intro__info .header {
    font-size: 3.25rem;
  }
}
.intro__info .paragraph {
  font-size: 0.9rem;
  line-height: 1.7;
  color: hsl(233deg, 8%, 62%);
}
@media screen and (min-width: 55em) {
  .intro__info .paragraph {
    font-size: 0.99rem;
  }
}
.intro__cta {
  width: fit-content;
  margin-inline: auto;
  display: block;
}
@media screen and (min-width: 55em) {
  .intro__bg-container {
    width: 40rem;
    left: 55%;
    top: -4.5%;
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: 150%;
    background-position-x: 15%;
    background-position-y: 25%;
  }
  .intro__bg-container img {
    max-width: 40rem;
    transform: translate(12%, 4rem);
  }
  .intro__info {
    max-width: 25rem;
    margin-top: 10rem;
    text-align: left;
  }
  .intro__info > *:not(:last-child) {
    margin-bottom: 1.8rem;
  }
  .intro__cta {
    margin-inline: 0;
  }
}

.main {
  padding-block: 4.5rem;
  background-color: hsl(220deg, 16%, 96%);
}
.main__info {
  max-width: 35rem;
  padding-bottom: 4rem;
  margin-inline: auto;
  text-align: center;
}
.main__info > *:not(:last-child) {
  margin-bottom: 1rem;
}
.main__info .header {
  font-size: 1.75rem;
  color: hsl(233deg, 26%, 24%);
}
@media screen and (min-width: 55em) {
  .main__info .header {
    font-size: 2.275rem;
  }
}
.main__info .paragraph {
  font-size: 0.9rem;
  line-height: 1.7;
  color: hsl(233deg, 8%, 62%);
}
@media screen and (min-width: 55em) {
  .main__info .paragraph {
    font-size: 0.99rem;
  }
}
.main__reasons-list > *:not(:last-child) {
  margin-bottom: 2rem;
}
.main__reasons-list-item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  max-width: 15rem;
  margin-inline: auto;
  text-align: center;
}
.main__reasons-list-item .header {
  font-size: 1rem;
  color: hsl(233deg, 26%, 24%);
  margin-block: 1rem;
}
@media screen and (min-width: 55em) {
  .main__reasons-list-item .header {
    font-size: 1.3rem;
  }
}
.main__reasons-list-item .paragraph {
  font-size: 0.8rem;
  line-height: 1.7;
  color: hsl(233deg, 8%, 62%);
}
@media screen and (min-width: 55em) {
  .main__reasons-list-item .paragraph {
    font-size: 0.88rem;
  }
}
.main__reasons-list-img-container {
  width: 4rem;
}
@media screen and (min-width: 40em) {
  .main__reasons-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 55em) {
  .main__info {
    text-align: left;
    margin-inline: 0;
  }
  .main__reasons-list {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .main__reasons-list-item {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
  }
}

.articles {
  padding-block: 7rem;
  text-align: center;
}
.articles__main-header {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: hsl(233deg, 26%, 24%);
}
.articles article {
  max-width: 15rem;
  min-height: 25rem;
  margin-inline: auto;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
}
.articles article img {
  max-width: 15rem;
  aspect-ratio: 4/3;
  border-radius: inherit;
}
.articles__info {
  padding: 1rem;
  text-align: left;
}
.articles__info > *:not(:last-child) {
  margin-bottom: 1rem;
}
.articles__author {
  font-size: 0.8rem;
  color: hsl(233deg, 8%, 62%);
}
.articles__header {
  font-size: 0.9rem;
  color: hsl(233deg, 26%, 24%);
}
@media screen and (min-width: 55em) {
  .articles__header {
    font-size: 1.17rem;
  }
}
.articles__paragraph {
  font-size: 0.75rem;
  line-height: 1.5;
  color: hsl(233deg, 8%, 62%);
  transition: 0.2s ease-in-out all;
}
@media screen and (min-width: 55em) {
  .articles__paragraph {
    font-size: 0.825rem;
  }
}
.articles__paragraph:hover {
  color: hsl(136deg, 65%, 51%);
  opacity: 0.7;
}
@media screen and (min-width: 40em) {
  .articles__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 55em) {
  .articles__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  padding-block: 2rem;
  text-align: center;
  color: white;
  background-color: hsl(233deg, 26%, 24%);
}
.footer__logo {
  transition: 0.2s ease-in-out opacity;
  display: block;
  width: 12rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.footer__logo:hover, .footer__logo:focus {
  opacity: 0.7;
}
.footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.footer__main-links-container {
  margin-block: 2rem;
}
.footer__cta {
  width: fit-content;
  display: block;
  margin-inline: auto;
}
.footer__cta, .footer__copyright {
  margin-top: 2rem;
}
.footer__copyright {
  font-size: 0.8rem;
}
.footer__main-links-container > *:not(:last-child), .footer__main-links > *:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 55em) {
  .footer {
    text-align: left;
  }
  .footer__nav {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
  }
  .footer__main-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: clamp(5rem, 12vw, 8rem);
    margin-left: clamp(5rem, 12vw, 8rem);
    justify-self: center-start;
  }
  .footer__cta-container {
    margin-left: auto;
  }
  .footer__main-links-container > *:not(:last-child) {
    margin-bottom: 0;
  }
  .footer__cta {
    margin-top: 0;
    margin-right: 0;
  }
  .footer li {
    transition: 0.2s ease-in-out all;
  }
  .footer li:hover {
    transition: 0.2s ease-in-out opacity;
    color: hsl(136deg, 65%, 51%);
  }
  .footer li:hover:hover, .footer li:hover:focus {
    opacity: 0.7;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  color: white;
}
.attribution a {
  transition: 0.2s ease-in-out opacity;
  color: lightblue;
}
.attribution a:hover, .attribution a:focus {
  opacity: 0.7;
}
.attribution a:hover {
  color: hsl(136deg, 65%, 51%);
}

/*# sourceMappingURL=main.css.map */
