@use "../globals" as *

$info-margin-offset-mobile: 22rem
$info-margin-offset-desktop: 10rem

.intro
    padding-bottom: $info-margin-offset-desktop - 4.5rem

    &__bg-container
        width: 100%
        position: absolute
        top: 0
        left: 0
        background-image: url("../images/bg-intro-mobile.svg")
        background-repeat: no-repeat
        background-size: 100% 100%
        background-position: right top

        img
            display: block
            max-width: 25rem
            margin-inline: auto
            transform: translateY(-3.5rem)

    &__info
        @include flow()
        margin-top: $info-margin-offset-mobile
        text-align: center

        .header
            @include header-style(2.5rem)

        .paragraph
            @include paragraph-style(1.7, 0.9rem)

    &__cta
        width: fit-content
        margin-inline: auto
        display: block

    @include media()
        &__bg-container
            width: 40rem
            left: 55%
            top: -4.5%
            background-image: url("../images/bg-intro-desktop.svg")
            background-size: 150%
            background-position-x: 15%
            background-position-y: 25%

            img
                max-width: 40rem
                transform: translate(12%, 4rem)

        &__info
            @include flow(1.8rem)
            max-width: 25rem
            margin-top: $info-margin-offset-desktop
            text-align: left

        &__cta
            margin-inline: 0
