@use "../globals" as *

.intro
    padding-bottom: 3rem

    &__bg-container
        width: 100%
        position: absolute
        top: 5%
        background-image: url("../images/bg-intro-mobile.svg")
        background-repeat: no-repeat
        background-size: 100% 22rem

        img
            max-width: 20rem
            margin-inline: auto
            display: block
            transform: translateY(-5.5rem)

    &__info
        @include info-section()
        margin-top: 20rem

    &__cta
        @include cta()
        display: block
        width: fit-content
        margin-inline: auto

    @include media()
        @include flex(start, start, row-reverse)
        max-width: $max-page-width
        margin-inline: auto

        &__bg-container
            width: 25rem
            height: 20rem
            top: 10%
            right: 1%
            transform: scale(1.8)
            background-image: url("../images/bg-intro-desktop.svg")
            background-size: contain

        img
            position: absolute
            top: 35%
            left: 13%

        &__cta
            margin-inline: unset
