//
//  
// VARIABLES
//
//

// Colors
$clr-prim-900: hsl(192, 70%, 51%)
$clr-prim-500: hsl(136, 65%, 51%)
$clr-prim-200: hsl(233, 26%, 24%)

$clr-neutral-999: white
$clr-neutral-900: hsl(0, 0%, 98%)
$clr-neutral-800: hsl(220, 16%, 96%)
$clr-neutral-600: hsl(233, 8%, 62%)

// Fonts
$fw-light: 300
$fw-medium: 400
$fw-bold: 700

// Sizes
$max-page-width: 69.625rem
$wrapper-inline-padding: 1rem

// Mixins
@mixin media($size: 55em, $direction: "desktop")
    @if $direction == "desktop"
        @media screen and (min-width: $size)
            @content
    @else
        @media screen and (max-width: $size)
            @content

@mixin flex($jc: space-between, $ai: center, $fd: row)
    display: flex
    justify-content: $jc
    align-items: $ai
    flex-direction: $fd

@mixin flow($margin: 1rem, $condition: "none")
    @if $condition == "unset"
        > *:not(:last-child)
            margin-bottom: 0
    @else
        > *:not(:last-child)
            margin-bottom: $margin

@mixin link-opacity()
    transition: 0.2s ease-in-out opacity

    &:hover,
    &:focus
        opacity: 0.7

@mixin header-style($header-font-size)
    font-size: $header-font-size
    color: $clr-prim-200

    @include media()
        font-size: calc($header-font-size * 1.3)

@mixin paragraph-style($line-height, $paragraph-font-size)
    font-size: $paragraph-font-size
    line-height: $line-height
    color: $clr-neutral-600

    @include media()
        font-size: calc($paragraph-font-size * 1.1)
