//
//  
// VARIABLES
//
//

// Colors
$clr-prim-900: hsl(192, 70%, 51%)
$clr-prim-500: hsl(136, 65%, 51%)
$clr-prim-200: hsl(233, 26%, 24%)

$clr-neutral-999: white
$clr-neutral-900: hsl(0, 0%, 98%)
$clr-neutral-800: hsl(220, 16%, 96%)
$clr-neutral-600: hsl(233, 8%, 62%)

// Fonts
$fw-light: 300
$fw-medium: 400
$fw-bold: 700

// Sizes
$max-page-width: 69.625rem
$wrapper-inline-padding: 1rem

// Mixins
@mixin media($size: 65em, $direction: "desktop")
    @if $direction == "desktop"
        @media screen and (min-width: $size)
            @content
    @else
        @media screen and (max-width: $size)
            @content

@mixin flex($jc: space-between, $ai: center, $fd: row)
    display: flex
    justify-content: $jc
    align-items: $ai
    flex-direction: $fd

@mixin cta()
    padding-inline: 1.45rem
    padding-block: 0.75rem
    color: white
    background-image: linear-gradient(to left, $clr-prim-900, $clr-prim-500)
    border-radius: 999rem

    transition: 0.2s ease-in-out opacity

    &:hover
        opacity: 0.7

@mixin info-section($size-mobile: 2.5rem, $size-desktop: 3rem, $paragraph-size: 1.1rem)
    padding-inline: $wrapper-inline-padding
    text-align: center

    > *
        margin-bottom: 1.25rem

    .header
        font-size: $size-mobile
        font-weight: $fw-light
        color: $clr-prim-200

    .paragraph
        color: $clr-neutral-600
        line-height: 1.5

    @include media()
        margin-top: 7rem
        max-width: 30rem
        text-align: left

        .header
            font-size: $size-desktop

        .paragraph
            font-size: $paragraph-size
